# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
env/
venv/
.pytest_cache/
.hypothesis/


# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Node & Frontend
node_modules/
dist/
build/
.npm
*.log

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# ADK Agent Engine Deployment Temp Folders
extracter_agent_tmp*/

